<!DOCTYPE html>
<html class="ng-scope" ng-app="guestListApp">
<head>
	<title>Guest List</title>
	<meta charset="UTF-8">
	<link href="../../css/bootstrap.min.css" type="text/css" rel="stylesheet">
	<link href="css/style.css" type="text/css" rel="stylesheet">
	<link href="images/favicon.png" rel="shortcut icon">
</head>
<body class="ng-scope" ng-controller="guestController">
	<div class="header">
		<h1>Guest List</h1>
		<form>
			<label>
				Name:
				<input type="text" placeholder="type your name here" ng-model="name">
			</label>
			<label>
				Email:
				<input type="email" placeholder="example@mail.com" ng-model="email">
			</label>
			<input class="btn btn-success" type="submit" value="Add" ng-click="addGuest()">
		</form>
		<p>Tip: Double Click to edit the name or the email</p>
	</div>
	<div class="list-guests" id="sortable">
		<dl data-ng-repeat="guest in guests track by $index" draggable="true" id="drop">
			<dt><img ng-src="{{guest.img}}"></dt>
			<div>
				<dd ng-dblclick="editGuestName(guest)"><strong>{{guest.name}}</strong></dd>
				<dd ng-dblclick="editGuestEmail(guest)">{{guest.email}}</dd>
			</div>
			<div>
				<input type="button" value="Delete" ng-click="deleteGuest($index)" class="btn btn-danger btn-mini">
			</div>
		</dl>
	</div>

	<script src="../../js/angular.js"></script>
	<script src="../../js/app.js"></script>
	<script src="js/guestController.js"></script>
	<script src="js/MD5.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/jquery-ui.js"></script>
	<script src="js/dragAndDrop.js"></script>
</body>
</html>

