
body, html, .wrapper, footer {
    	min-height: 100%;
    	width: 100%;
		margin: 0px;
		padding: 0px;
}

body {
	background-image: url("images/yellow.jpg");
	font-family: 'Open Sans Condensed', sans-serif;
}

.description {
	padding-top: 30px;
	height: 140px;
}

h1 {
	height: 40px;
	text-align: center;
	font-size: 3em;
}

hr {
	border: 0;
	width: 30%;
    height: 3px;
    color: #C242F4;
    background-color: #C242F4;
}

.content {
	min-height: 100%;
	margin: 0 auto;
}

li {
	list-style: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

#hamburger-menu {
	z-index: 9999;
	position: absolute;
	float: right;
	right: 0px;
	padding: 30px 30px 0 0;
	color: #FFFFFF;
}

button {
	background-color: transparent;
	border-width: 0px;
}

/*header */

header {
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 99999;
}

#menu>nav {
	top: 0px;
	right: 13%;
	position: absolute;
}

nav>ul {
	float: right;
	margin-top: 0px;
}

#octo_icon {
	height: 180px;
	margin: 15px 0 0 40px;
}

.li-header {
	background-color: #FFFFFF;
	float: left;
	list-style: none;
	text-align: center;
	height: 70px;
	width: 160px;
	border-width: 0;
	font-family: 'Anton', sans-serif;
	-webkit-transition: border 0.3s ease-in-out;
	-moz-transition: border 0.3s ease-in-out;
	-ms-transition: border 0.3s ease-in-out;
	-o-transition: border 0.3s ease-in-out;
	transition: border 0.3s ease-in-out;
}

.li-header:hover {
	border-color: #C242F4;
	border-bottom-width: 6px;
	border-style: solid;
	text-shadow: 0px 0px 4px rgba(150, 150, 150, 1);
}

#li-octo {
	border-bottom-left-radius: 10px;
}

#li-contact {
	border-bottom-right-radius: 10px;
}

#arrow {
	color: #C242F4;
}

.quem-somos {
	display: block;
	top: 0px;
	position: relative;
	background-color: #F0F0F0;
	height: 120px;
	width: 160px;
	padding: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.quem-somos li{
	height: 40px;
	font-size: 1.4em;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}

.quem-somos li:hover {
	background-color: #C242F4;
}

.quem-somos a {
	color: #665D5D;
}

.a-header {
	height: 100px;
	font-size: 2em;
	color: #665D5D;
}

/* footer */

footer {
    background-color: #131313;
    position: relative;
    bottom: 0px;
    padding: 10px 0 20px 5px;
    color: #FFFFFF;
	font-size: 0.9em;
	font-weight	: 900;
	float: left;
}

footer .row {
	margin: 0;
}

.div-contact {
	text-align: center;
	margin: 0px;
	padding: 0 5px;
}

.div-contact>ul {
	margin: 0 auto;
}

.li-footer {
	height: 40px;
	width: 40px;
	margin: 5px 5px;
	padding-top: 10px;
	border-radius: 5px;
	display: inline-block;
}

h2 {
	text-align: center;
	font-size: 3.5em;
	margin-bottom: 30px;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;
}

footer h2 {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #C242F4;
	font-weight: bold;
	color: #CCCCCC;
}

footer h3 {
	font-weight: bold;
	font-size: 2em;
	color: #CCCCCC;
}


.info {
	font-size: 1.2em;
	line-height: 20px;
	letter-spacing: 1px;
}

#facebook {
	background-color: #3A5795;
}

#linkedin {
	background-color: #1B85BD;
}

#flickr {
	background-color: #FF0084;
}

#twitter {
	background-color: #5EA9DD;
}

#instagram {
	background-color: #48759E;
}

#google {
	background-color: #CF4032;
}

#pinterest {
	background-color: #CD2129;
}

#map-canvas {
	margin: 0 auto;
	max-width: 900px;
	height: 300px;
	background-color: #CCC;
}

#facebook, #linkedin, #twitter, #instagram, #google, #flickr, #pinterest {
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-ms-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

#facebook:hover, #linkedin:hover, #twitter:hover, #instagram:hover, #google:hover, #flickr:hover, #pinterest:hover {
	background-color: #E6F911;
}

/* Adaptações para versão mobile */

@media only screen and (max-width: 1050px), only screen and (max-device-width: 1050px) {
	body {
			background-size: 300%;
	}

	header {	
	    width: 200px;
	    height: 80%;
	    float: left;
	    position: fixed;
	    z-index: 99999;
	    background-color: transparent;
	}

	#menu>nav {
		top: 0px;
		right: 0;
		position: absolute;
	}

	#octo_icon {
		display: inherit;
		height: 100px;
		width: 100px;
		margin: 0 auto;
		position: relative;
		top: -200px;
		z-index: -1;
		opacity: 0.9;
	}

	nav>ul {
		height: 130px;
		display: block;
		float: right;
		margin: 0;
	}

	.li-header {
		float: none;
		padding: 20px 0 10px 10px;
		height: 100px;
		width: 200px;
		display: none;
		background-color: #261e1e;
		text-align: left;
	}

	.li-header:hover {
		border-width: 0;
	}

	.a-header {
		color: #ffffff;
	}

	#li-octo {
		background-image: url("images/octo2.png");
		background-size: 50px 50px;
		background-repeat: no-repeat;
		background-position: 130px 5px;
		border-bottom-left-radius: 0;
		border-top-right-radius: 10px;
	}

	.quem-somos {
		top: -33px;
		right: -189px;
		position: relative;
		text-align: center;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.quem-somos li {
		padding-top: 10px;
	}

	#overlay .span-hover {
    padding-top: 50px;
	}


	.span-hover p {
		padding-top: 5px;
		font-size: 1.4em;		
	}

	@media only screen and (max-height: 365px), only screen and (max-device-height: 365px) {
		.li-header {
			padding: 10px 0 5px 10px;
			height: 60px;
		}
	}

	@media only screen and (max-width: 805px), only screen and (max-device-width: 805px) {
		body {
			background-size: 400%;
		}

		.description h1 {
				font-size: 2.5em;
			}

		#content-index {
				margin: 0;
		}
			
		@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
			.description h1 {
				font-size: 2em;
			}

			.description {
				padding-top: 0;
				height: 100px;
			}

			@media only screen and (max-width: 605px), only screen and (max-device-width: 605px) {
				body {
						background-size: 800%;
				}

				.div-content {
					height: 570px;
				}

				#overlay .span-hover {
			    padding-top: 40px;
				}


				.span-hover p {
					padding-top: 5px;
					font-size: 1em;		
				}	
			}
		}
				
	}
}
	




