body {
   padding: 0px;
   margin: 0px;
   background-color: #EEEEEE;
}

.header {
	padding-left: 10%;
    margin-right: auto;
    width: 100%;
    position: fixed;
    top:0px;
    margin-left: 0px;
    background-color: #38424B;
    z-index:1;	
    color: #EEEEEE;
    font-weight	: bold;
    font-family: 'Hind', sans-serif;
}

.container {
	background-color: #FF7E62;
	padding: 20px;
	border-radius: 3px;
	width: 90%;
	height: 100%;
	padding-top: 8%;

} 

.list-group-item {
	background-color: #EEEEEE;
	transition: background-color 0.5s ease;
	font-family: 'Merienda', cursive;
}

.list-group-item:hover {
	background-color: #FF7E62;
}

a:hover {
	text-decoration: none;
}

.hide {
	display: none;
}

.col-xs-10 {
	position: fixed;
	left: 21%;
}

/* Carousel */

.item {
	width: 100%;
	height: 450px;
    }

.img-carousel {
	max-height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	border-radius: 15px;
}

.carousel {
	margin-left: 8%;
	margin-right: 23.5%;
}
